@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--background);
  background: var(--foreground);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: #f9f9f9;
  color:#0a0a0a;
}
svg{display: inline-block;}